{% extends 'User/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>SIGNUP</h2>
                <div class="content-section signup">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Join Today</legend>
                            {{form|crispy}}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-info" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

</form>
{% endblock %}