{%  extends 'User/base.html' %}

{% block content %}
    <section class="py-5 mb-5 bg-light">
        <section class="intro">
            <div class="container">
                <div class="pt-5">
                    <h2>Markets</h2>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="bg-white rounded p-3">
                                <h5>New Listing</h4>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">APPL</li>
                                        <li class="col-sm-3">1074322</li>
                                        <li class="col-sm-3">+3.2%</li>
                                    </ul>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">MSFT</li>
                                        <li class="col-sm-3">4562112</li>
                                        <li class="col-sm-3">-7.26%</li>
                                    </ul>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">DUMMY</li>
                                        <li class="col-sm-3">1.892</li>
                                        <li class="col-sm-3">-30.1242%</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="bg-white rounded p-3">
                                <h5>Trending</h4>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">USDT</li>
                                        <li class="col-sm-3">4.892</li>
                                        <li class="col-sm-3">+3.2%</li>
                                    </ul>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">KWENTA</li>
                                        <li class="col-sm-3">212.65</li>
                                        <li class="col-sm-3">-7.26%</li>
                                    </ul>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">DUMMY</li>
                                        <li class="col-sm-3">1.892</li>
                                        <li class="col-sm-3">-30.1242%</li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="bg-white rounded p-3">
                                <h5>New Listing</h4>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">USDT</li>
                                        <li class="col-sm-3">4.892</li>
                                        <li class="col-sm-3">+3.2%</li>
                                    </ul>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">KWENTA</li>
                                        <li class="col-sm-3">212.65</li>
                                        <li class="col-sm-3">-7.26%</li>
                                    </ul>
                                    <ul class="row list-unstyled">
                                        <li class="col-sm-6">DUMMY</li>
                                        <li class="col-sm-3">1.892</li>
                                        <li class="col-sm-3">-30.1242%</li>
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
    <section>
        <div class="container my-5">
            <nav class="navbar bg-body-tertiary mb-5">
                <div class="container-fluid">
                    <a class="navbar-brand">Listings</a>
                    <form method = 'post' class="d-flex" role="search">
                        {% csrf_token %}
                        <input class="form-control me-2" id ="inputs" type="search" onkeyup="myFunction()" placeholder="Search markets"
                            aria-label="Search">
                    </form>
                </div>
            </nav>
            
            <table class="table" id ="tables">
                <thead>
                    <tr>
                        <th scope="col">Pair</th>
                        <th scope="col">Open</th>
                        <th scope="col">Close</th>
                        <th scope="col">High</th>
                        <th scope="col">Low</th>
                        <th scope="col">Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for symbol, val in data.items %}
                    <tr>
                        <th scope="row">{{symbol}}</th>
                        <td>{{val.0|slice:"1:6"}}</td>
                            <td>{{val.1}}</td>
                            <td>{{val.2}}</td>
                            <td>{{val.3}}</td>
                            <td>{{val.4}}</td>
                    </tr>
                </tbody>
                {% endfor %} 
            </table>
           
        </div>
    </section>
    <script>
        function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("inputs");
          filter = input.value.toUpperCase();
          table = document.getElementById("tables");
          tr = table.getElementsByTagName("tr");
        
          // Loop through all table rows, and hide those who don't match the search query
          for (i = 1; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("th")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
        </script>
{% endblock %}
