<!DOCTYPE html>
<html>

<body>
    <div class="content-section">
        <h1>Stock Data</h1>
        {% if data %}
            <h1>Stock Data</h1>
            {% for symbol, val in data.items %}
                <table>
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th>Open</th>
                            <th>High</th>
                            <th>Low</th>
                            <th>Close</th>
                        </tr>
                    </thead>
                    
                    <tbody></tbody>
                        <tr>
                            <td>{{symbol}}</td>
                            <td>{{val.0|slice:"1:6"}}</td>
                            <td>{{val.1}}</td>
                            <td>{{val.2}}</td>
                            <td>{{val.3}}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        {% else %}
            <p>No data available.</p>
        {% endif %}
    </div>
</body>
</html>
